<h1>{{title}}</h1>
<p>PAGINA DE INICIO {{title}}</p>
<div class="caja1">estamos en la pagina principal</div>
<div class="caja2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis est sint, soluta excepturi in quam consequatur eaque molestias dolorem rem,
     commodi dolorum cupiditate quas nisi nemo! Quis incidunt molestiae eos!</div>
