<h2 style="color: crimson;font-size: 30px;">Bienvenido a la pagina de Nosotros</h2>
<p class="texto2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores esse fugiat in, 
    repudiandae qui perferendis unde distinctio quidem numquam? 
    Atque a totam, vero sequi quisquam dolorem autem assumenda enim deserunt.</p><br>
<p class="texto2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores esse fugiat in, 
    repudiandae qui perferendis unde distinctio quidem numquam? 
    Atque a totam, vero sequi quisquam dolorem autem assumenda enim deserunt.</p><br>